<footer class="sw-legal-footer mt-6 text-center text-xs leading-6 text-slate-500 dark:text-slate-200 space-y-1">
        <div class="text-base font-semibold text-emerald-500 font-pangolin">.ScenarWall. 2025 Bêta</div>
  <div class="author uppercase tracking-[0.06em] font-semibold text-slate-700 dark:text-slate-300">
    @Baz1ga & @MattBD<i class="fa-brands fa-discord"></i> Discord)
  </div>
  <div class="links inline-flex flex-wrap gap-3 items-center justify-center">
    <a class="text-emerald-500 hover:text-emerald-400 transition" href="https://phserres.notion.site/Mentions-l-gales-2b625b4f22b780e4852aeeb762578222?pvs=74" target="_blank" rel="noopener">Mentions légales</a>
    <a class="text-emerald-500 hover:text-emerald-400 transition" href="https://phserres.notion.site/Politique-de-confidentialit-2b625b4f22b780a6b2dce2997443e591?pvs=73"  target="_blank" rel="noopener">Politique de confidentialité</a>
    <a class="text-emerald-500 hover:text-emerald-400 transition" href="https://phserres.notion.site/Conditions-G-n-rales-d-Utilisation-2b825b4f22b780d68ef6c926efa35af8"  target="_blank" rel="noopener">CGU</a>
  </div>
</footer>
