@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Metal+Mania&family=Rye&family=Space+Grotesk:wght@400;500;600;700&family=Share+Tech+Mono&family=Bangers&family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
